
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Tilt+Prism&display=swap');


.sign{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(222, 215, 85),rgb(225, 73, 222));
    /* background:  black; */
}
.signup{
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: aliceblue;
    height: 90vh;
    width: 70%;
    display: flex;
    border-radius: 10px;
    /* border: 1px solid gray; */
    font-size: 18px;
    padding-left: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    
}
.signwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-img{
    display: flex;
height: 35px;
width: 35px;
border-radius: 50% !important;
align-items: center !important;
/* object-fit: cover; */
}
.signup-1 img{
/* display: flex; */
/* flex:1; */
align-items: left;
height: 300px !important;
width: 300px !important;
max-width: 100%;
min-width: 200px;
min-height: 200px;
}
.signup:hover{
    box-shadow: 5px 5px 10px 20px rgb(177, 119, 231);

}
.signup-1,.signup-2{
    /* flex: ; */
    /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.input{
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
button{
    margin-top: 20px !important;
    /* font-size: large !important; */
    font-weight: 700 !important;
}
.signwrapper{
width: 90%;
height: 100%;
display: flex;
align-items: center;
/* justify-content: center; */
}
label{
    font-family: 'Satisfy', cursive;
}
.loginLogo
{
    font-size: 50px;
    font-weight: 800;
    color: blueviolet;
    margin-bottom: 10px;
font-family: 'Tilt Prism', cursive;
}
Form{
    max-width: 90%;
}
.is-danger{
    color: red;
}

@media all and (max-width:600px) {
    .sign{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup{
        /* flex: 3 !important; */
        width: 60%;
        /* background-color: aqua; */
        /* background-color: aqua; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .signwrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }
    .signup-1 {
        margin-bottom: 30px;
        display: flex;
        flex: 1 !important;
        width:30%;
        /* background-color: blueviolet; */
    }
    .signup-2{
        padding-top: 100px ;
        display: flex;
margin-top: 30px;
        flex: 1 !important;
        width:40%;
        max-width: 100%;
        height: 50% !important;
        /* background-color: blueviolet; */

    }
}
@media all and (max-width:600px) {
.signup{
    width: 80%;
}
}